<div class="contact-us-page h-100 d-flex justify-content-center align-items-center ">
    <div class="contact me-3 px-2 py-4">
        <h3 class="">FIND US</h3>
        <div class="d-flex flex-column detail-text">
            <span>121 Rock sreet ,21</span> 
            <span>Avenue, New-York,</span> 
            <span>NY 92103-9000</span> 
         </div>
    </div>
    <div class="contact me-3 px-2 py-4">
        <h3>HOURS</h3>
        <div class="d-flex flex-column  detail-text">
            <span class="fw-bold">Monday-Saturday</span>
            <span>9am - 7pm</span>
            <span class="fw-bold ">Sunday</span>
            <span>10am-6pm</span>
        </div>
    </div>
    <div class="contact px-2 py-4 position-relative">
        <h3>CALL US</h3>
        <div class="d-flex flex-column detail-text">
            <span class="text-danger fw-semibold  number-first">1 (234) 567-891</span>
            <span class="text-danger fw-semibold  number-second">2 (234) 567-891</span>
        </div>
    </div>
   
</div>
