<div class=" h-100 d-flex justify-content-center align-content-center about-page">
    <div class=" d-flex w-100 p-5">

        <div class="w-50 h-100 d-flex align-items-center">
            <figure class=" mb-0  about-img-wrapper w-100">
                <img src="./../../assets/images/about-us-pizza.jpg" alt="" srcset="">
            </figure>
        </div>
        <!-- text-section -->
        <div class="w-50 d-flex flex-column justify-content-center p-5">
           <h2 class="text-center ">Our story</h2>
           <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente praesentium impedit molestiae pariatur vero rerum, tempore ratione eius facere laborum cupiditate ipsum velit quo veniam nisi tenetur culpa placeat nostrum debitis incidunt odit! Tempore quas nesciunt vero quia at, labore eos recusandae vel, minus porro dignissimos soluta molestias? Doloribus, asperiores.</p>
            <div class="mt-3 w-100 text-center">
                <button class="btn btn-outline-danger px-5 py-3 rounded rounded-pill" [routerLink]="['/food']">SEE OUR MENU</button>
            </div>
        </div>
        <!-- image-section -->

       
    </div>
   
</div>
