<div class="h-100 w-100  bg-login d-flex justify-content-center align-details-center">

    <form class="register-form bg-white p-5 rounded m-3">
<h2 class="text-center ">Register here</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Name</label>
                <input type="text" name="" id="" class="form-control " placeholder="Enter name here...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Mobile Number</label>   
                <input type="text" name="" id="" class="form-control" class="form-control "  placeholder=" mobile No...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Email</label>
                <input type="text" name="" id="" class="form-control" class="form-control "  placeholder=" email...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Password</label>
                <input type="text" name="" id="" class="form-control" class="form-control "  placeholder=" password ...">
        </div>
        
        <div class="w-100  d-flex justify-content-center align-details-center mb-3">
            <button class="btn btn-primary ">Submit </button>
        </div>
        <div class=" text-center">Already have an account then <a class="text-primary cursor-pointer" [routerLink]="'/login/form'">Click here to Sign In</a></div>
    </form>

</div>