<div class="d-flex justify-content-between align-items-center shadow overflow-hidden">
    <div class="ms-4">
        <figure class="image-wrapper mb-0 d-flex justify-content-center align-items-center">
            <img src="./../../../../assets/images/pizza-logo.webp" alt="" srcset="">
        </figure>
    </div>
    <div class="me-5">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  [routerLink]="'/home'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/about'">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Contact-us</a>
            </li>
           
          </ul>
    </div>
</div>
