<div class="d-flex justify-content-between align-details-center shadow overflow-hidden">
    <div class="ms-4">
        <figure class="image-wrapper mb-0 d-flex justify-content-center align-details-center">
            <img src="./../../../../assets/images/pizza-logo.webp" alt="" srcset="">
        </figure>
    </div>
    <div class="me-5">
        <ul class="nav justify-content-end">
            <li class="nav-detail">
              <a class="nav-link " aria-current="page"  [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-detail">
              <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
            </li>
            <li class="nav-detail">
              <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact-us</a>
            </li>
           
          </ul>
    </div>
</div>
