/* 
   Brand Logo and Primary Navigation
*/
.image-wrapper{
   height: 100px;
   width: 100px;
   overflow: hidden;

   img{
      height: auto;
      width: 100%;
      object-fit: cover;
   }
}

.nav-item{
   .active{
      color:rgb(255,0,0)
   }
}