.bg-login{
    background: url(./../../images/pizza-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.loginform{
    width: 25%;
}

@media(max-width:992px){
    .loginform{
        width: auto;
    }
}
