// .img-name-text {
//   position: absolute;
//   z-index: 10;
//   bottom: 0;
//   left: 0;
//   font-size: 30px;
// }
// .img-price-text {
//   position: absolute;
//   z-index: 10;
//   bottom: 0;
//   right: 0;
//   font-size: 30px;
// }

.pizza-detail-size{
 width: 45%;

  .detail-img-wrapper{
    img{
      height: auto;
      width: 100%;
    }
  }
}


