<div class="h-100 w-100  bg-login d-flex justify-content-center align-items-center">

    <form class="loginform bg-white p-5 rounded m-3">
        <h2 class="text-center font-monospace">Login here</h2>
        <div class="mb-3"> 
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Email</label>
            <div class="d-flex border rounded ps-3">
                <span class="bi bi-envelope-fill d-flex justify-content-center align-items-center"></span>
                <input type="text" name="" id="" class="form-control border-0 shadow-none" placeholder="email address">
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Password</label>
            <div class="d-flex border  rounded ps-3">
                <span class=" bi bi-lock-fill d-flex justify-content-center align-items-center"></span>
                <input type="text" name="" id="" class="form-control" class="form-control border-0 shadow-none"
                    placeholder="password">
            </div>
        </div>
        <div class="w-100  d-flex justify-content-center align-items-center mb-3">
            <button class="btn btn-primary ">Sign In</button>
        </div>
        <div class=" text-center">If you don't have an account then<a class="text-primary cursor-pointer"
                [routerLink]="'/registration/form'">Click here to register</a></div>
    </form>

</div>